@{
    ViewData["Title"] = "New Playlist";
}

@model PlaylistMaker.Models.Playlist

<h4>Add a new playlist</h4>

@using (Html.BeginForm())
{
  <div class="form-group">
  @Html.LabelFor(model => model.Name, new { @class = "control-label"})
  @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
  <span asp-validation-for="Name" class="text-danger"></span>
  </div>

  <div class="form-group">
  <input type="submit" value="Add new playlist" class="btn btn-primary"/>
  </div>
}
<p>@Html.ActionLink("Back", "Index")</p>
